[submodule "SDL"]
	path = SDL
	url = https://github.com/SDL-mirror/SDL
	branch = release-2.0.10
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/SDL-mirror/SDL_image
	branch = release-2.0.5
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/SDL-mirror/SDL_mixer
	branch = release-2.0.4
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/SDL-mirror/SDL_ttf
	branch = release-2.0.15
